@import ./modules/common.sass


body
  margin: 0
  padding: 0

.container
  position: relative

.status-bar
  width: 640px
  height: 35px
  background: #548fae
  position: relative
  img
    position: absolute
    top: 50%
    right: 28px
    transform: translateY(-50%)

nav
  height: 86px
  background: #67b0d6
  @extend .flex-centerC
  // extend : import한 다른 sass, scss 파일에서 정의되어있는 속성을 가져온다
  h1
    position: relative
    left: 100px

  button
    width: 29px
    height: 25px
    background: url(../images/home/icon-h-menu.png)
    border: none
