.container{
  margin-top: 10px;
  margin-bottom: 100px;
}
.logo{
  width: 50px;
  margin-right: 5px;
  vertical-align: bottom;
}
.header_line{
  margin-top: 5px;
  margin-bottom: 25px;
}
ul.nav{
  margin-top: 40px;
}
.text-muted{
  margin-bottom: 20px;
}
.active{
  font-weight: bold;
}
.modify-buttons{
  margin-left: 0;
  margin-right: 0;
}
.table>tbody>tr>td{
  vertical-align: middle;
}

@media (max-width:375px) {
.container{
  width: 375px;
}

.title{
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px;
}
ul.nav {
  margin-top: 30px;
}
}
