.container{
  color: #3E454C;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}
a,
panel-heading,
panel-body{
  color: #3E454C;
}
a:hover{
  color:#FF7F66;
  text-decoration: none;
}

#write_btn:hover{
  cursor: pointer;
}

.logo{
  width: 50px;
  margin-right: 5px;
  vertical-align: bottom;
}
.title{
  color: #3E454C;
  font-size: 1.3em;
  font-weight: bold;
}
.header_line{
  margin-top: 5px;
  margin-bottom: 25px;
}
ul.nav{
  margin-top: 40px;
}
.text-muted{
  margin-bottom: 20px;
}
.active{
  font-weight: bold;
}
.modify-buttons{
  margin-left: 0;
  margin-right: 0;
}
.table>tbody>tr>td{
  vertical-align: middle;
}

.description,
.panel-heading,
.panel,
.table{
  word-break: break-word;
}

.description{
  white-space: pre-wrap;
  /*편집툴 그대로 표현*/
}

.panel-body{
  line-height: 1em;
}
.table-title{
  text-align: left;
}
.comment a{
  color: #449f3b;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 1em;
  margin-left: 5px;
}
a[href="/index.php?id=94"],
a[href="/index.php?id=102"]{
  color: #FF7F66;
  font-weight: bold;
}
