
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */